*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
.inter-tight{
font-family: "Inter Tight", sans-serif;
font-weight: 400;
}
body{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter Tight", sans-serif;
    color: aliceblue;
    }

.sal{
    display: none;
}
header{
    max-width: 1600px;
    margin: 0 auto 120px;    background: url(./img/hero-bg.png);

}
.nav-section nav{
    display: flex;
    justify-content: space-around;
    padding-top:20px ;
    align-items: center;
}
.anchor ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.anchor ul li{
    font-size: 20px;
font-weight: 500;
}
.nav-button, .header-btn-a{
    padding: 12px 15px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
font-weight: 600;
background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 ) ;
border: none;
}
.header-sectio{
    width: 100%;
    height: 100%;
}
.header-img{
    width: 100%;
    height: 100%;
    background: url(./img/hero-circle.png);
    padding: 100px 620px 100px ;
    background-position: bottom;
    background-repeat: no-repeat;
}
.header-img-b{
    display: flex;
    justify-self: center;
    align-self: center;
}
.badge {
position: absolute;
top: 190px;
right: 730px;
background: #2bffb9;
color: #000;
font-size: 20px;
padding: 8px 16px;
border-radius: 20px;
font-weight: 600;
animation: autoTransform 3s infinite ease-in-out;
}
.badge:hover{
    transform: 
    translate(50px, -30px)   
    scale(1.9)              
    rotate(-360deg);
}



@keyframes autoTransform {
0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
}
50% {
    transform: translate(80px, -40px) rotate(180deg) scale(1.2);
}
100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
}
}


.header-info{
    text-align: center;
    line-height: 40px;
    padding: 30px 0;
} 
.header-title{
    padding-top: 30px;
    font-size: 60px;
font-weight: 800;
}
.header-p{
    font-size: 20px;
font-weight: 400;
padding: 30px 0;
}
.header-btn-b{
    padding: 12px 15px;
    border-radius: 50px;
    color: greenyellow;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid greenyellow;
}

/* about */
.about{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
    background-color: #00000036;
}
.about-title{
    font-style: Bold;
font-size: 50px;
font-weight: 700;
text-align: center;
text-transform: capitalize;
}
.about-p{
    font-size: 18px;
font-weight: 400;
line-height: 30px;
text-align: center;
letter-spacing: 16%;
opacity: 0.8;
padding: 16px 0;

}
.about-second-div{
    display: flex;
    justify-content: space-between;
    margin-top:80px;
    text-align: center;
    align-items: center;
}
.card-title{
    color: #00FF88;
    font-size: 50px;
font-weight: 900;
padding-bottom: 10px;
}
    .card-p{
        font-size: 18px;
font-weight: 400;
opacity: 0.8;

    }
    /* techwave */
.techwave{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px;
}
.techwave-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}
.techwave-card{
    width: 100%;
    border-radius: 20px;
    background: rgba(53, 17, 101, 0.4);
    padding:40px ;
    
}
.host-icon-i {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 50px;
}
.big-layout{
        grid-column: span 2;
        grid-row: span 2;
        }
.normal-layout{
        grid-column: span 3;
        grid-row: span 1;
        }
.normal-layout-v{
        grid-column: span 4;
        grid-row: span 1;
        }
.wide-layout{
            grid-column: span 1;
            grid-row: span 1;
        }
.techwave-title-mein{
    font-style: Bold;
font-size: 50px;
font-weight: 700;
text-align: center;
text-transform: capitalize;
padding-bottom: 20px;
}
.techwave-title{
    font-style: Bold;
font-size: 25px;
font-weight: 700;
padding: 20px 0 20px;
}
.techwave-p{
    font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 8%;
}
.sof{
    padding-top: 200px;
}


#img-zap{
    width:55px ;
    height: 55px;
}
/* Featured-section */
.featured-section{
    background-color: #0000008c;
    max-width: 1600px;
    margin: 100px auto;
    /* border: 1px solid tomato; */
    
}
.featured-container{
    margin: 120px auto;
    padding: 0 120px 0 ;
}
.iframe-section{
    display: flex;
    margin: 0 auto;
    gap: 30px;
    justify-content: space-between;
    
}
.iframe-title{
    color: white;
    text-align: center ;
    font-style: Bold;
font-size: 55px;
font-weight: 700;
}
.ifram-1{
    width: 100%;
    background-color: #250D44;
}
.ifram-1 iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.ifram-text{
    padding: 24px ;
}
.ifram-1-title{
    font-style: Bold;
font-size: 25px;
font-weight: 700;
color: white; 
}
.ifram-1-p{
    font-size: 18px;
    color: rgba(255, 255, 255, 200);
    padding: 20px 0 20px 0;
}
.ifram-1-icon{
    color:#00FF88 ;
}
.host{
    margin: 200px auto 0 ;
    padding: 120px;
}
.host-title{
    font-style: Bold;
font-size: 55px;
font-weight: 700;
text-align: center;
color: white;
text-transform: capitalize;
}
.host-section{
background: rgba(53, 17, 101, 0.4);
color: white;
padding: 40px;
display: flex;
gap: 30px;
align-items: center;
}
.host-section-title{
    font-style: Bold;
font-size: 32px;
font-weight: 700;
}
.host-section-p{
    font-size: 25px;
font-weight: 400;
padding: 16px 0;
}
.host-icon {
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    color: transparent; 
    font-size: 30px;
    text-align: l;
}
