*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
.inter-tight{
font-family: "Inter Tight", sans-serif;
font-weight: 400;
}
body{
    background-color: #1A0B2E;
    max-width: 1600px;
    margin: 0 auto;
    font-family: "Inter Tight", sans-serif;
    color: aliceblue;
    }

.sal{
    display: none;
}
header{
    max-width: 1600px;
    margin: 0 auto 120px;    background: url(./img/hero-bg.png);

}
.nav-section nav{
    display: flex;
    justify-content: space-around;
    padding-top:20px ;
    align-items: center;
}
.anchor ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.anchor ul li{
    font-size: 20px;
font-weight: 500;
}
.nav-button, .header-btn-a{
    padding: 12px 15px;
    border-radius: 50px;
    color: white;
    font-size: 16px;
font-weight: 600;
background:linear-gradient(to right, #F7E93F, #FB09B4, #9100F8 ) ;
border: none;
}
.header-sectio{
    width: 100%;
    height: 100%;
}
.header-img{
    width: 100%;
    height: 100%;
    background: url(./img/hero-circle.png);
    padding: 100px 620px 100px ;
    background-position: bottom;
    background-repeat: no-repeat;
}
.header-img-b{
    display: flex;
    justify-self: center;
    align-self: center;
}
.badge {
position: absolute;
top: 190px;
right: 730px;
background: #2bffb9;
color: #000;
font-size: 20px;
padding: 8px 16px;
border-radius: 20px;
font-weight: 600;
animation: autoTransform 3s infinite ease-in-out;
}
.badge:hover{
    transform: 
    translate(50px, -30px)   
    scale(1.9)              
    rotate(-360deg);
}



@keyframes autoTransform {
0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
}
50% {
    transform: translate(80px, -40px) rotate(180deg) scale(1.2);
}
100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
}
}


.header-info{
    text-align: center;
    line-height: 40px;
    padding: 30px 0;
} 
.header-title{
    padding-top: 30px;
    font-size: 60px;
font-weight: 800;
}
.header-p{
    font-size: 20px;
font-weight: 400;
padding: 30px 0;
}
.header-btn-b{
    padding: 12px 15px;
    border-radius: 50px;
    color: greenyellow;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid greenyellow;
}

